.d-sm-block {
  display: block !important;
}

#pull-requests-search-bar {
  background-color: #0d1116;
  position: relative;
}

#body {
  justify-content: flex-middle;
}

.card {
  background-color: #0d1116;
  height: 300px;
}

.button {
  outline-color: grey;
}
