<nav class="navbar navbar-dark bg-dark navbar-fixed-top">

    <img src="assets/photos/workfeatured-GitHub-2.png" width="60" height="50" class="d-incline-block alight-top" alt="image">
 

    <div class="container-fluid">

        <form class="form-inline d-flex md-form form-sm">
            <input class="form-control form-control-sm mr-3 w-120" type="text" placeholder="Search or jump to..." aria-label="Search or jump to...">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white active" href="">Pull Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">Issues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">Marketplace</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-whiteß" href="">Explore</a>
            </li>
        </ul>
    </div>

</nav>