#navbar-search-bar {
  background-color: #303d56;
  position: relative;
  margin-left: 6px;
  margin-right: 1150px;
}

.navbar {
  background-color: #060f26;
}
#navbar-dropdown {
  position: relative;
  display: flex;
  margin-top: -73px;
  margin-bottom: 2px;
  margin-left: -30px;
  justify-content: flex-end;
  color: white;
}

#navbar-dropdown-menu {
  background-color: #060f26;
  left: -400%;
}

.image {
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 7px;
  margin-bottom: 5px;
}

#nav1 {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin-left: 260px;
  margin-bottom: 2px;
  margin-top: -55px;
}
#nav2 {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin-left: 1px;
  margin-bottom: 2px;
  margin-top: -55px;
}
#nav3 {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin-left: 1px;
  margin-bottom: 2px;
  margin-top: -55px;
}
#nav4 {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin-left: 1px;
  margin-bottom: 2px;
  margin-top: -55px;
}
a:hover {
  color: grey;
}

.dropdown-divider {
  color: lightgray;
}
#navbar-dropdown-plus {
  position: relative;
  display: flex;
  margin-top: -60px;
  margin-bottom: 30px;
  margin-left: 640px;
  justify-content: flex-end;
  color: white;
}
#navbar-dropdown-menu-plus {
  background-color: #060f26;
  right: 1%;
}
#dropdown-status-bar {
  background-color: #303d56;
  position: relative;
}
