<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          The feed shows you events from people you follow and repositories you watch or star.  
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0" id="linkcolumn1">
              <li>
                <a href="#!" class="">Blog</a>
              </li>
              <li>
                <a href="#!" class="">About</a>
              </li>
              <li>
                <a href="#!" class="">Shop</a>
              </li>
              <li>
                <a href="#!" class="">Contact</a>
              </li>
              <li>
                <a href="#!" class="">Github</a>
              </li>
              <li>
                <a href="#!" class="">Pricing</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0" id="linkcolumn2">
              <li>
                <a href="#!" class="">API</a>
              </li>
              <li>
                <a href="#!" class="">Training</a>
              </li>
              <li>
                <a href="#!" class="">Status</a>
              </li>
              <li>
                <a href="#!" class="">Security</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0" id="linkcolumn3">
              <li>
                <a href="#!" class="">Terms</a>
              </li>
              <li>
                <a href="#!" class="">Privacy</a>
              </li>
              <li>
                <a href="#!" class="">Docs</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Lmwhitehair</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->