<div class="container-lg p-responsive text-center text-md-left">
  <div class="col-lg-7 position-relative">
    <h1 class="h1 mb-2 lh-condensed-ultra">Extend Github</h1>
    <p class="f3 mb-4 color-fg-muted lh-condensed">
      Find tools to improve your workflow
    </p>
    <div
      class="d-flex flex-items-center flex-sm-justify-center flex-md-justify-start mb-sm-4 mb-md-0"
    >
      <a class="btn btn-large">Explore free apps</a>
    </div>
    <div class="bg-image"></div>
  </div>
</div>
