<!DOCTYPE html?>

<html lang="en">
  <github-topbar>loading topbar</github-topbar>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=depth-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min"
    />
  </head>

  <body>
    <router-outlet></router-outlet>
    <!-- <github-home-layout>loading home layout</github-home-layout> -->
    <github-footer>loading footer</github-footer>
  </body>
</html>
