.button-success {
  background-color: green;
}

.sidebar-nav {
  position: relative;
  background-color: #0d1116;
  font-size: small;
}

.sidebar-header {
  position: relative;
  font-size: small;
}

.btn {
  position: relative;
  size: 3px;
  background-color: green;
  border-color: green;
  margin-right: 50px;
}

.form-control {
  position: relative;
  background-color: #020408;
  border-color: grey;
}

.nav-item {
  background-color: #0d1116;
}

.sidebar {
  width: 320px;
  background-color: #0d1116;
}

.form-control {
  position: relative;
  background-color: #303d56;
}

.dropdown-menu {
  position: relative;
}

p {
  margin-left: 25px;
  margin-top: 25px;
}
