<body>
  <div
    class="container-fluid d-flex overflow-auto"
    style="display: flex; height: 100%; position: absolute"
  >
    <div class="sidebar text-white" id="sidebar-showcase" role="cdb-sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <p>
            Repositories
            <button type="button" class="btn btn-primary btn-sm float-end">
              New
            </button>
          </p>
        </div>
        <div class="sidebar-nav">
          <form
            class="form-inline d-flex md-form form-sm float-middle"
            id="sidebar-searchbar"
          >
            <input
              class="form-control form-control-sm mr-3 w-120 text-white"
              type="text"
              placeholder="Find a repository..."
              aria-label="repositories"
            />
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          <div *ngFor="let data of sideBars">
            <github-sidebar-card
              repoName="{{ data.repoName }}"
            ></github-sidebar-card>
          </div>
          <!--
          <div class="sidenav">
            <li class="nav-item justify-content-center">
              <a class="nav-link text-white active" href=""
                >"Repository name 1"</a
              >
            </li>

            <li class="nav-item justify-content-center">
              <a class="nav-link text-white active" href=""
                >"Repository name 2"</a
              >
            </li>
          </div>
        --></div>
      </div>
    </div>
  </div>
</body>

<!--  <div class="sidebar-header text-center">
            <a class="sidebar-toggler"><i class="fa fa-bars"></i></a>
            <a class="sidebar-brand">Contrast</a>
            </div>
            <div class="sidebar-nav">
            <div class="sidenav">
                <a class="sidebar-item">
                <i class="fa fa-th-large sidebar-icon"></i>
                <span>Dashboard</span>
                </a>
                <a class="sidebar-item">
                <i class="fa fa-sticky-note sidebar-icon"></i>
                <span>Components</span>
                </a>
            </div>
            <div class="sidenav">
                <div class="sidebar-dropdown">
                <div
                    class="sidebar-item"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    <i class="fa fa-th sidebar-icon"></i>
                    <span>Sidemenu</span>
                    <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                </div>
                <div class="sidebar-sub-menu collapse bg-dark" id="collapseOne">
                    <a class="sub-menu-item">Submenu 1</a>
                    <a class="sub-menu-item">Submenu 2</a>
                    <a class="sub-menu-item">Submenu 3</a>
                </div>
                </div>
                <div class="sidebar-dropdown">
                <div11
                    class="sidebar-item"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                >
                    <i class="fa fa-book sidebar-icon"></i>
                    <span>Sidemenu 2</span>
                    <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                </div>
                <div class="sidebar-sub-menu collapse bg-dark" id="collapseTwo">
                    <a class="sub-menu-item">Submenu 1</a>
                    <a class="sub-menu-item">Submenu 2</a>
                    <a class="sub-menu-item">Submenu 3</a>
                </div>
                </div>
            </div>
            </div>
            <div class="sidebar-footer">Sidebar Footer</div>
        </div>-->
