<div class="subnav color-bg-default subnav-sticky js-sticky">
  <nav class="container-lg mx-auto p-responsive" role="navigation">
    <div
      class="d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left"
    >
      <div class="col-lg-3 mr-2"></div>
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Explore</a
      >
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Topics</a
      >
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Trending</a
      >
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Collections</a
      >
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Events</a
      >
      <a
        class="subnav-link no-underline subnav-primary d-inline-block f5 py-0 py-md-3 mt-2 mt-md-0 mr-md-4"
        >Github Sponsors</a
      >
    </div>
  </nav>
</div>
