.subnav {
  position: sticky;
}

.subnav-link {
  margin-right: 15px;
  text-decoration-color: grey;
  color: grey;
}

#profile_card {
  width: 250px;
  background-color: #161b22;
}

#starred_topics {
  color: rgb(20, 143, 184);
}

hr {
  color: grey;
}

#header {
  color: grey;
  font-weight: bold;
}

#recommended_topics {
  width: 300px;
  background-color: #161b22;
  margin-left: 250px;
}

#recommended_topics_repo_name {
  color: rgb(20, 143, 184);
}

#repo_name {
  color: rgb(20, 143, 184);
}

#trending_repositories {
  width: 300px;
  background-color: #161b22;
  margin-left: 200px;
}

#trending_repositories {
  margin-top: -500px;
}
